// estilo de texto de la pagina de galeria

.contenedor-titulo-galeria {
    text-align: center;
    margin: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;



    .contenedor-parrafo-galeria {
        max-width: 1300px;
        display: flex;
        margin: 2rem;
        border: #1c1c1c solid 1px;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem grey;
        background-color:#18151e;

        p {
            text-align: justify;
            font-family: 'Russo One', sans-serif;
            font-weight: bold;
            color: white;


        }


    }




}